.gradle/
.kotlin/
.idea/
node_modules/
**/node_modules/
tools/web-capture/node_modules/
tools/docs-site-capture/node_modules/
build/
**/build/
site-dist/

visual-captures/
visual-captures-components/
**/visual-captures/

*.zip
*.log
local.properties

*.class
*.jar
